:root {
  --r-heading-text-transform: none ;
  --r-background-color: #051525;
  --r-heading-text-transform: none ;
  --r-heading1-size: 2.7em;
  --r-main-font-size: 36px;
  --r-block-margin: 1.8rem;
  --code-full-bg: #142433;
  --code-rgba-bg: rgba(50, 65, 80, 0.4);
  --r-code-font: "JetBrains Mono", monospace;
}

.center {
	text-align: center
}

.slides {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

.reveal.ready .slides {
  opacity: 1;
}

.text-left {
  text-align: left;
}

.reveal ul ul {
  margin-top: 1rem;
}

.small {
  font-size: 66%;
}

.reveal p {
  font-size: 0.75em;
}

.smallitalic {
  font-size: 0.6em;
  font-style: italic;
}

section ul li + li {
  margin-top: 1rem;
}

.row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  grid-gap: 30px;
}


.row > p, .row > ul, .row > .col {
  padding: 0;
  margin: 0;
  list-style-type: none;
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
  text-align: center;
  font-size: 0.75em;
}

.row > .col {
  display: flex;
}



.reveal p.subtitle {
  font-size: var(--r-heading3-size);
  font-weight: 600;
}

.reveal h2 {
  font-size: var(--r-heading3-size);
}
.reveal h3 {
  font-size: var(--r-heading4-size);
}


.slides {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.reveal.ready .slides {
  opacity: 1;
}

.reveal div.sourceCode {
  border: none;
  margin-top: 0.5em;
}

.reveal pre {
  font-size: calc(0.5 * var(--r-main-font-size));
}

.small, .reveal small {
  font-size: calc(0.7 * var(--r-main-font-size));
}
.small code, .reveal small code {
  font-size: 0.7em;
}

p code {
  font-size: 0.7em;
}

.reveal pre {
  width: 100%;
  background: none;
}


.reveal p.code, .reveal p code, small code, .small code, li code, .reveal .sourceCode pre code {
  background: var(--code-rgba-bg);
  padding: 0.15em 0.25em;
  border-radius: 0.25em;
}

.reveal .sourceCode pre code {
  overflow: hidden !important;
  overflow: auto;
  white-space: pre-wrap !important;
  padding: .5em;
  border-radius: .5em;
  display: block;
}

.reveal a code {
  color: var(--r-link-color)
}


.reveal .slides ul li, .reveal .slides ol li {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

.has-light-background {
  --r-link-color: var(--r-link-color-dark);
  --r-link-color-hover: #0373bd;
}


.reveal img.demoimg {
  margin: 1em;
  border-radius: 5%;
}
.reveal img.demoimg.smallcircle {
  margin: 0.4em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.row.smallcircles {
  grid-gap: 1em;
  width: 70%;
}
.row.smallcircles img {
  border-radius: 50%;
}